body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 11px;
}

nav a {
  padding: 0 10px 0 10px;
  background-color: pink;
}

figure ~ p {
  width: 800px;
  text-align: center;
  padding: 5px 190px;
}

#details {
  background-color: red;
  display: flex;
  justify-content: space-around;
}

#details div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}
